@font-face {
  font-family: myFont5;
  src: url("../assets/fonts/moolah-iconfont-Regular.woff2");
}
@font-face {
  font-family: "poppins-SemiBold";
  src: url("../assets/fonts/Poppins-Fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-Regular";
  src: url("../assets/fonts/Poppins-Fonts/Poppins-Regular.ttf");
}