.masthead {
    width: 100%;
    margin-top: 60px;
    position: relative;
    margin-bottom: 100px;
    background: #ffffff;

    @media (max-width: 990px) {
        margin-top: 80px;
        padding: 0 20px;
        margin-bottom: 60px;
    }

    &-content {
        width: 1200px;
        margin: auto;
        display: flex;

        @media (max-width: 990px) {
            width: 100%;
            flex-direction: column;
        }

        &-left {
            width: 40%;
            z-index: 10;
            position: relative;

            @media (max-width: 990px) {
                width: 100%;
                text-align: left;
            }

            h1 {
                margin-top: 97px;
                font-size: 60px;
                width: 520px;
                height: 140px;
                font-size: 60px;
                font-family: "poppins-SemiBold";
                font-weight: 600;
                color: rgb(0 0 0);
                line-height: 70px;

                @media (max-width: 990px) {
                    width: 100%;
                    height: auto;
                    font-size: 45px;
                    font-family: "poppins-SemiBold";
                    font-weight: 600;
                    color: #000000;
                    line-height: 50px;
                    margin-top: 38px;
                }
            }

            .simple_introduce {
                max-width: 80%;

                @media (max-width: 990px) {
                    width: 100%;
                    max-width: 100%;
                    margin-top: 30px;
                }

                span {
                    color: #666666;
                    line-height: 20px;

                    i {
                        color: #000000;
                        font-style: normal;
                        line-height: 20px;
                    }

                    &:nth-child(2) {
                        margin-top: 30px;
                        display: inline-block;
                    }
                }
            }

            .add_tochrome {
                a {
                    @media (max-width: 990px) {
                        width: 100%;
                    }
                }
            }

            .add_tips {
                height: 2rem;
                font-size: .75rem;
                font-family: "poppins-Regular";
                font-weight: 400;
                color: #999999;
                line-height: 20px;

                @media (max-width: 990px) {
                    display: none;
                }
            }
        }

        &-right {
            width: 60%;
            position: relative;

            @media (max-width: 990px) {
                width: 100%;
                margin-top: 68px;
            }

            img.sidedown {
                object-fit: contain;
                margin-top: 50px;
                width: 100%;
                position: absolute;
                right: -70px;
                margin-right: 15px;

                @media (max-width: 990px) {
                    display: none;
                }
            }

            img.sideup {
                z-index: 99;
                width: 531px;
                height: 379px;
                object-fit: contain;
                margin-top: 133px;
                position: absolute;
                right: 0;

                @media screen and (max-width: 990px) {
                    margin: unset;
                    position: unset;
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            }
        }
    }
}

@media screen and (max-width: 990px) {

    .masthead-content-left .add_tochrome img,
    .masthead-content-left .add_tips,
    .masthead-content-right img.sidedown {
        display: none;
    }
}